.fifthSection{
    max-width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 100vh;
    background-image: url("../../images/5/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
        
        &__heading{
            position: relative;
            text-align: center;
            line-height: 1;
            height: 10vh;
            
            h1{
                padding-top: 3rem;
                font-size: 2.5rem;
                color: #6E6A63;
            }
            p{
                filter: opacity(1);
                text-transform: uppercase;
                color: #DBA644;
                
            }
        }

        &__heading::before{
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.4;
            background-image: url("../../images/5/top.png");
            background-position: center top;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__main{
            position: relative;
            margin: 5rem auto  0;
            padding-bottom: 5rem;
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 3fr;

            

            &--1{
                text-align: center;

                .item{

                    img{
                        height: 6rem;
                        border-radius: 100%;
                        border:5px solid rgba(255, 255, 255, 0.8);
                    }

                    h1{
                        font-size: 1.5rem;
                        color: #DAA33D;
                    }

                    p{
                        font-size: 0.8rem;
                        font-family:cursive;
                    }
                }

            }
            &--2{
                position: relative;

                .main{
                    position: relative;
                    text-align: center;
                    margin-top: 6rem;
                    

                    img{
                        width: 80%;
                        border:10px solid rgba(255, 255, 255);
                    }
                    
                    .receipt{
                        position: absolute;
                        bottom: -1rem;
                        z-index: 1;
                        
                        
                        h2 {
                            background-color: whitesmoke;
                            padding: 1rem;
                            max-width: 100%;
                            color: #DAA33D;
                            text-transform: uppercase;
                            border:5px solid rgba(255, 255, 255);
                        }
                    }

                }

                

                .preparation{
                    position: absolute;
                    
                    top:4.5rem;
                    right: 5.5rem;
                    background-color:whitesmoke;
                    opacity: 0.8;
                    text-align: center;

                    .item{
                        border-bottom:3px solid #fff;
                        width: 10rem;
                        height:7rem;
                        line-height: 1;

                        h1{
                            padding-top: 1rem;
                            font-size: 1rem;
                            text-transform: uppercase;
                            color: #DAA33D;
                        }
                        h2{
                            font-size: 1.3rem; 
                        }
                    }
                    .item:last-child{
                        background-image: url("../../images/5/cardBg.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                }

            }

           
        }
}

.footer{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;

    div > *{
        padding: 0.5rem 0;
        cursor: pointer;
    }

    div:first-child{
        grid-column-start: 1;
        grid-column-end: 3;
        

        h1{
            font-family: 'Dancing Script', cursive;
            font-size: 2.5rem;
            cursor:unset;
    }
   }

    
}

@media only screen and  (max-width:1200px){
    .fifthSection__main{
        grid-template-columns: 1fr;
    }
    .fifthSection__main .fifthSection__main--1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .fifthSection__main .fifthSection__main--2 .preparation{
        top:2rem;
        
    }
}

@media only screen and  (max-width:656px){
    .fifthSection__main .fifthSection__main--1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        
    }
    .fifthSection__main .fifthSection__main--1 .item:last-child{
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
    }

}

@media only screen and  (max-width:578px){
    .fifthSection__main .fifthSection__main--1{
        padding-top: 3rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .fifthSection__main .fifthSection__main--1 .item:last-child{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
    }

    .fifthSection__main .fifthSection__main--2 .preparation {
       right:2.5rem;
    }
}

@media only screen and  (min-width:560px){
    .footer {
        padding-top: 0;
    }
}

@media only screen and  (min-width:596px){
    .footer {
        max-width: 70%;
        margin:0 auto;
        grid-template-areas: "head head"
                            "first-col first-col"
                            "second-column second-column";
               
        div:first-child{
            grid-area: head;
        }

        div:nth-child(2){
            grid-area: first-col;
            display: flex;
            flex: row nowrap ;
            justify-content: space-evenly;
            align-items: center;
        }

        div:last-child{
            grid-area: second-column;
            display: flex;
            flex: row nowrap ;
            justify-content: space-evenly;
        }

        div h2{
            flex-basis: 32%;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        } 
    }
}

@media only screen and  (min-width:1100px){
    .footer {
        max-height: 8rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "first-col head second-column";
        gap:1rem;
        

        div{
            align-self: center;
        }

        div:first-child{
            grid-area: head;
        }

        div:nth-child(2){
            grid-area: first-col;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        div:last-child{
            grid-area: second-column;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        div h2{
            border: none;
        } 

    }
}