

#secondSection{
    margin-top: 10rem;
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;

    .artOfCakesFotos img{
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
}

.artOfCakes__heading{
    text-align: center;
    margin-top: 5rem;

    &--h1 h1{
        
        font-size: 2.5rem;
    }
    &--h1 h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: rgb(0, 255, 34);
    }
    &--h1 p {
        font-size: 1.5rem;
        margin: 1rem 2rem;
        font-style: italic;
    }

    &--p {
        font-size: 1.5rem;
        text-transform: capitalize;
        
    }

    .chef{
        margin: 0 auto;

        img{
            border-radius: 100%;
        }

        div{
            
            text-align: center;
            width: 100%;
        }
        div h3{ 
            font-family: 'Luxurious Script', cursive;
            max-width: 120px;
            margin: 0 auto;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            font-size: 2rem;
        }
    }
}

.hexagon {
    width: 250px;
    height: 250px;
    clip-path: polygon(50% 0%, 70% 25%, 98% 35%, 75% 55%, 79% 91%, 50% 70%, 21% 91%, 25% 55%, 2% 35%, 30% 25%);
    background-color: rgb(0, 255, 34);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: opacity(0.5);
}

.hexagon2 {
    position: absolute;
    width: 125px;
    height: 125px;
    clip-path: polygon(50% 0%, 70% 25%, 98% 35%, 75% 55%, 79% 91%, 50% 70%, 21% 91%, 25% 55%, 2% 35%, 30% 25%);
    background-color:black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    filter: opacity(0.5);
}

.artOfCakesFotos{
    position: relative;
    margin: 2rem auto;
    max-width: 350px;
    

    .images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        justify-items: center;
        outline: 4px solid rgb(0, 255, 34);
        outline-offset: 1rem;
    }
}

.artOfCakes__heading--p .qoute{
    quotes: initial;
    font-style: italic;
    margin: 1rem 2rem;
}


@media only screen and  (min-width:786px){
    .chef  {
        margin: 0 auto;
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
}

@media only screen and  (min-width:1200px){
    #secondSection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .artOfCakesFotos{
        align-self: center;
    }
    .images{
        transform: scale(1.5);
    }
}