:root {
  --bgColor: rgba(0,0,0,0.5);
}

#overlay {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  opacity: 0.8;
  transition: 200ms solid ease-in-out;
  background-color: var(--bgColor);
  pointer-events: all;
}

.modal {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms solid ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  width: min(90%, 800px);
  z-index: 20;
}
.modal-header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.modal-header__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-header__closeBTN {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-body {
  text-align: center;
}
.modal-body h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.modal-body p {
  font-size: 1rem;
}
.modal-body p:last-child {
  margin-bottom: 2rem;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

#firstSection {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Home_made_sour_dough_bread.jpg/800px-Home_made_sour_dough_bread.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
#firstSection::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  bottom: -6rem;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(50%);
  background-color: white;
}

nav {
  background-color: rgba(199, 190, 162, 0.829);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-content: center;
  text-transform: uppercase;
  width: 100%;
  position: fixed;
  z-index: 20;
  padding-bottom: 0.2rem;
}
nav :first-child img {
  filter: saturate(3);
  height: 50px;
  margin-left: 2rem;
}
@media only screen and (max-width: 687px) {
  nav :first-child img {
    display: none;
  }
}

.menuIcon {
  height: 0;
}

.icons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.5rem;
}
.icons div {
  align-self: center;
  justify-self: flex-start;
  cursor: pointer;
}

.ul ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
}
.ul li {
  list-style: none;
  flex-basis: 15%;
  align-self: center;
}
@media only screen and (max-width: 1200px) {
  .ul li {
    flex-basis: 45%;
    text-align: center;
  }
}
.ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.main-heading {
  font-family: "Lato";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-heading--h1 {
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 1px 2px 2px black;
}
.main-heading--p {
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 1px 2px 2px black;
}
.main-heading .que-menu {
  background-color: rgba(199, 190, 162, 0.7);
  padding: 2rem 3rem;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.bottom-line {
  position: absolute;
  width: 100%;
  bottom: -3.5rem;
  left: 0;
}
.bottom-line img {
  min-height: 12vh;
  max-width: 100%;
}

@media only screen and (max-width: 1200px) {
  #thirdSection .letter {
    margin-top: 3rem;
  }

  .ul ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-heading {
    top: 50%;
  }
  .main-heading--h1 {
    font-size: 4rem;
  }
  .main-heading--p {
    font-size: 2rem;
  }
  .main-heading .que-menu {
    transform: scale(0.7);
  }
}
@media only screen and (max-width: 678px) {
  nav {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: rgba(199, 190, 162, 0.829);
  }
  nav ul li {
    margin-right: 30px;
  }
  nav :last-child {
    flex-direction: row;
  }
  nav .icons div {
    justify-self: center;
  }

  .main-heading {
    width: 90%;
  }
  .main-heading--h1 {
    font-size: 2.5rem;
  }
  .main-heading--p {
    font-size: 1.5rem;
  }
  .main-heading .que-menu {
    transform: scale(0.5);
  }
}
@media only screen and (max-width: 500px) {
  .ul ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 0.3rem;
    display: none;
    text-align: center;
  }
  .ul ul li {
    margin-right: 45px;
  }

  .icons {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 500px) {
  main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100%;
    max-height: 100vh;
  }

  main section {
    scroll-snap-align: start;
  }
}
#secondSection {
  margin-top: 10rem;
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}
#secondSection .artOfCakesFotos img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.artOfCakes__heading {
  text-align: center;
  margin-top: 5rem;
}
.artOfCakes__heading--h1 h1 {
  font-size: 2.5rem;
}
.artOfCakes__heading--h1 h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #00ff22;
}
.artOfCakes__heading--h1 p {
  font-size: 1.5rem;
  margin: 1rem 2rem;
  font-style: italic;
}
.artOfCakes__heading--p {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.artOfCakes__heading .chef {
  margin: 0 auto;
}
.artOfCakes__heading .chef img {
  border-radius: 100%;
}
.artOfCakes__heading .chef div {
  text-align: center;
  width: 100%;
}
.artOfCakes__heading .chef div h3 {
  font-family: "Luxurious Script", cursive;
  max-width: 120px;
  margin: 0 auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  font-size: 2rem;
}

.hexagon {
  width: 250px;
  height: 250px;
  clip-path: polygon(50% 0%, 70% 25%, 98% 35%, 75% 55%, 79% 91%, 50% 70%, 21% 91%, 25% 55%, 2% 35%, 30% 25%);
  background-color: #00ff22;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(0.5);
}

.hexagon2 {
  position: absolute;
  width: 125px;
  height: 125px;
  clip-path: polygon(50% 0%, 70% 25%, 98% 35%, 75% 55%, 79% 91%, 50% 70%, 21% 91%, 25% 55%, 2% 35%, 30% 25%);
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  filter: opacity(0.5);
}

.artOfCakesFotos {
  position: relative;
  margin: 2rem auto;
  max-width: 350px;
}
.artOfCakesFotos .images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  justify-items: center;
  outline: 4px solid #00ff22;
  outline-offset: 1rem;
}

.artOfCakes__heading--p .qoute {
  quotes: initial;
  font-style: italic;
  margin: 1rem 2rem;
}

@media only screen and (min-width: 786px) {
  .chef {
    margin: 0 auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  #secondSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .artOfCakesFotos {
    align-self: center;
  }

  .images {
    transform: scale(1.5);
  }
}
#thirdSection {
  position: relative;
  padding: 1rem 0;
  margin-top: 2rem;
  max-width: 100%;
  min-height: 100vh;
  background-image: url("https://health.clevelandclinic.org/wp-content/uploads/sites/3/2013/07/wholeGrainProducts-842797430-770x533-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center fixed;
}
#thirdSection .letter {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  height: 90%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50%;
  background-image: url("../../images/3/cardBg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 55px 100%, 0 calc(100% - 55px));
}
#thirdSection .letter::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  bottom: 0;
  left: 0;
  display: block;
  background-color: red;
}
#thirdSection .letter__pancake img {
  width: 100%;
  height: 100%;
}
#thirdSection .letter__description {
  text-align: center;
  margin: 0 1rem;
}
#thirdSection .letter__description h1 {
  font-size: 2.5rem;
  margin: 0.3rem auto;
}
#thirdSection .letter__description h2 {
  font-size: 1rem;
  text-align: left;
}
#thirdSection .letter__list {
  padding-top: 2rem;
  text-align: left;
}
#thirdSection .letter__list img {
  display: inline;
}
#thirdSection .letter__list--images {
  display: inline;
}
#thirdSection .letter__list--images img {
  border-radius: 100%;
  height: 6rem;
}
#thirdSection .makingPancake {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 5px 5px 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-image: url("../../images/3/overlayBg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}
#thirdSection .makingPancake :first-child {
  color: #00ff22;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0;
}
#thirdSection .makingPancake :nth-child(2) {
  font-size: 4rem;
  margin: 1rem auto 0.2rem;
}
#thirdSection .makingPancake :nth-child(3) {
  font-size: 2rem;
  margin: 0.2rem auto;
}

@media only screen and (min-width: 460px) {
  #thirdSection .makingPancake {
    top: 20%;
    transform: translate(50%, -50%);
    z-index: 1;
  }
}
@media only screen and (max-width: 460px) {
  #thirdSection .letter__pancake img {
    height: 80%;
  }
}
@media only screen and (min-width: 786px) {
  #thirdSection .letter {
    width: 80%;
    height: 70%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
  }

  #thirdSection .makingPancake {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
@media only screen and (min-width: 1200px) {
  #thirdSection .letter {
    max-width: 1100px;
    align-content: center;
    border-top-right-radius: 10rem;
  }

  #thirdSection .makingPancake {
    left: 52%;
  }
}
@media only screen and (max-width: 786px) {
  #thirdSection .makingPancake {
    top: 20%;
    transform: scale(0.65);
    z-index: 1;
  }

  #thirdSection .letter__list--images {
    justify-self: center;
  }

  #thirdSection .letter__list {
    margin: 0 auto;
    padding: 0;
  }
}
@media only screen and (max-width: 1170px) {
  #thirdSection .letter__list--images img:last-child {
    display: none;
  }
}
@media only screen and (max-width: 963px) {
  #thirdSection .letter__list--images img:nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  #thirdSection .letter__list > img {
    display: none;
  }
}
#fourSection {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: url("../../images/4/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.fourSec {
  position: relative;
}

.fourSection {
  position: relative;
}
.fourSection__item1 h1 {
  text-transform: uppercase;
  color: #00ff22;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  transform: rotate(-5deg);
}
.fourSection__item1 p {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  transform: rotate(-5deg);
  text-shadow: 1px 5px 0.75rem crimson;
}
.fourSection__item2 {
  margin: 2rem auto;
  max-width: 22rem;
  height: 36rem;
  background-color: #F3F1E9;
  color: black;
  padding: 2rem;
  border-radius: 5px;
  outline: 4px dashed #E5DCC3;
  outline-offset: -1rem;
  background-image: url("../../images/4/bottomLeft.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: auto;
}
.fourSection__item2--container1 {
  font-size: 2rem;
  width: 15rem;
  display: flex;
  margin: 2rem auto;
  justify-content: space-between;
}
.fourSection__item2--container2 {
  text-align: center;
  position: relative;
}
.fourSection__item2--container2 img {
  width: 100%;
}
.fourSection__item2--container2--centerLogo {
  position: absolute;
  top: 20px;
  left: 44%;
}
.fourSection__item2--container2--centerLogo img {
  height: 3.5rem;
}
.fourSection__item2--container3 {
  padding: 2rem;
}
.fourSection__item2--container3 h1 {
  font-size: clamp(2rem, 2vw, 4rem);
}
.fourSection__item2--container3 .p {
  margin: 0 auto;
  width: 100%;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 400;
}
.fourSection__item2--container3 .readMore {
  width: 10rem;
  height: 3rem;
  background-color: rgba(0, 255, 255, 0);
  border: 1px solid #494C5D;
  color: #DAA33D;
  cursor: pointer;
}

.que-menu {
  background-color: rgba(199, 190, 162, 0.7);
  padding: 2rem 3rem;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  #fourSection {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 437px) {
  .fourSection__item2 {
    outline: none;
  }
  .fourSection__item2--container3 {
    height: 45rem;
    padding: 0;
  }
  .fourSection__item2--container3 .p {
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  .fourSection__item1 h1 {
    font-size: 2rem;
  }
}
.fifthSection {
  max-width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  background-image: url("../../images/5/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fifthSection__heading {
  position: relative;
  text-align: center;
  line-height: 1;
  height: 10vh;
}
.fifthSection__heading h1 {
  padding-top: 3rem;
  font-size: 2.5rem;
  color: #6E6A63;
}
.fifthSection__heading p {
  filter: opacity(1);
  text-transform: uppercase;
  color: #DBA644;
}
.fifthSection__heading::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  background-image: url("../../images/5/top.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
.fifthSection__main {
  position: relative;
  margin: 5rem auto 0;
  padding-bottom: 5rem;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.fifthSection__main--1 {
  text-align: center;
}
.fifthSection__main--1 .item img {
  height: 6rem;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.8);
}
.fifthSection__main--1 .item h1 {
  font-size: 1.5rem;
  color: #DAA33D;
}
.fifthSection__main--1 .item p {
  font-size: 0.8rem;
  font-family: cursive;
}
.fifthSection__main--2 {
  position: relative;
}
.fifthSection__main--2 .main {
  position: relative;
  text-align: center;
  margin-top: 6rem;
}
.fifthSection__main--2 .main img {
  width: 80%;
  border: 10px solid white;
}
.fifthSection__main--2 .main .receipt {
  position: absolute;
  bottom: -1rem;
  z-index: 1;
}
.fifthSection__main--2 .main .receipt h2 {
  background-color: whitesmoke;
  padding: 1rem;
  max-width: 100%;
  color: #DAA33D;
  text-transform: uppercase;
  border: 5px solid white;
}
.fifthSection__main--2 .preparation {
  position: absolute;
  top: 4.5rem;
  right: 5.5rem;
  background-color: whitesmoke;
  opacity: 0.8;
  text-align: center;
}
.fifthSection__main--2 .preparation .item {
  border-bottom: 3px solid #fff;
  width: 10rem;
  height: 7rem;
  line-height: 1;
}
.fifthSection__main--2 .preparation .item h1 {
  padding-top: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #DAA33D;
}
.fifthSection__main--2 .preparation .item h2 {
  font-size: 1.3rem;
}
.fifthSection__main--2 .preparation .item:last-child {
  background-image: url("../../images/5/cardBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
.footer div > * {
  padding: 0.5rem 0;
  cursor: pointer;
}
.footer div:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.footer div:first-child h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  cursor: unset;
}

@media only screen and (max-width: 1200px) {
  .fifthSection__main {
    grid-template-columns: 1fr;
  }

  .fifthSection__main .fifthSection__main--1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .fifthSection__main .fifthSection__main--2 .preparation {
    top: 2rem;
  }
}
@media only screen and (max-width: 656px) {
  .fifthSection__main .fifthSection__main--1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .fifthSection__main .fifthSection__main--1 .item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }
}
@media only screen and (max-width: 578px) {
  .fifthSection__main .fifthSection__main--1 {
    padding-top: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .fifthSection__main .fifthSection__main--1 .item:last-child {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
  }

  .fifthSection__main .fifthSection__main--2 .preparation {
    right: 2.5rem;
  }
}
@media only screen and (min-width: 560px) {
  .footer {
    padding-top: 0;
  }
}
@media only screen and (min-width: 596px) {
  .footer {
    max-width: 70%;
    margin: 0 auto;
    grid-template-areas: "head head" "first-col first-col" "second-column second-column";
  }
  .footer div:first-child {
    grid-area: head;
  }
  .footer div:nth-child(2) {
    grid-area: first-col;
    display: flex;
    flex: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer div:last-child {
    grid-area: second-column;
    display: flex;
    flex: row nowrap;
    justify-content: space-evenly;
  }
  .footer div h2 {
    flex-basis: 32%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
@media only screen and (min-width: 1100px) {
  .footer {
    max-height: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "first-col head second-column";
    gap: 1rem;
  }
  .footer div {
    align-self: center;
  }
  .footer div:first-child {
    grid-area: head;
  }
  .footer div:nth-child(2) {
    grid-area: first-col;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .footer div:last-child {
    grid-area: second-column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .footer div h2 {
    border: none;
  }
}

/*# sourceMappingURL=style.css.map */
